body {
    background-color: #000000;
}

.logo{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

.titulo{
    margin: 50px;
    display: flex;
    justify-content: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 30px;
    color: #ffffff;
}

/*Estilização do flex*/
.container{
    display: flex;
    justify-content:center;
}

/*Efeito do hover*/
.hoverperfil img:hover{
    transform:scale(1.0);
    transition: 0.3s ease;
    border: 2px solid #ffffff;
}

/*Estilização nos nomes*/
.nome{
    margin: 10px 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

.nomeadicionarperfil{
    margin-top: 52px;
    text-align:center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

/*Arredodamento das bordas das imagens*/
.arredondamento{
    border-radius: 15px;
}

/*Estilização dos perfis*/
.perfilaline{
    margin: 20px;
    width: 20px;
}

.perfilpedrinho{
    margin: 20px 150px;
    width: 20px;
}

.perfiljulia{
    margin: 20px 20px;
    width: 20px;
}

.adicionarperfil{
    background-color: #242424;
    width: 70px;
    margin: 20px 150px;
    height: 60px;
    padding: 50px;
    border-radius: 15px;
}


/*Estilização do botão*/
.gerenciamento{
    background-color: #242424;
    color: #ffffff;
    border-radius: 24px;
    border-color:#ffffff;
    width: 216px;
    height: 47px;
    margin: 40px 530px;
    font-size: 20px;
}

.boxbotao button:hover{
    transform:scale(1);
    transition: 0.3s ease;
    background-color: #ffffff;
}

/*Hover do botão*/
button:hover{
    transform:scale(1);
    transition: 0.3s ease;
    background-color: #ffffff;
    color: #000000;
}